* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url('background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.introSec {
  width: 25%;
  height: 498px;
  color: white;
  float: left;
  margin-top: 20px;
}

.inputSec {
  width: 50%;
  height: 50px;
  margin-top: 26px;
  float: left;
  margin-left: 15px;
}

.imgSec {
  width: 50%;
  height: 497px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}

#img {
  width: 100%;
  height: 497px;
  display: none;
}
